@import "modules/placeholder";
@import "modules/fonts";
@import "modules/init";


body {
    background-color: darkslateblue;
}
.todo {
    position: relative;
    top: 30px;
    width: 520px;
    margin: 0 auto;
    min-height: 42px;
    .intro-btn {
        position: absolute;
        z-index: 999;
        top: 21px;
        left: 50%;
        // transform: translate(-50%, -50%);
        margin-left: -21px;
        margin-top: -21px;
        width: 42px;
        height: 42px;
        border-radius: 5px;
        background-color: lightseagreen;
        font-family: 'Pangolin', sans-serif;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        border: none;
        padding: 0;
        transition: all 0.8s;
        cursor: pointer;

        &.actived {
            background-color: lightcoral;
            // left: calc(100% - 21px);
            transform: translateX(280px);
        }
    }
}

.input-box {
    // display: none;
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s;
    
    input[type="text"] {
        box-sizing: border-box;
        height: 100%;
        width: 370px;
        height: 42px;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 0 0 0 30px; 

    }
    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        padding: 0 5px;
        margin-left: 15px;
        font-size: 1.6rem;
        height: 36px;
        // width: 36px;
        border-radius: 5px;
        color: #fff;
        font-family: 'Pangolin', sans-serif;
        font-weight: bold;
        cursor: pointer;
        
        &.add-btn {
            background-color: lightsteelblue;
            right: 104px;
        }
        &.del-all-btn {
            right: 20px;
            background-color: lightsteelblue;
        }
    }

    &.actived {
        // display: block;
        visibility: visible;
        opacity: 0.9;
        transition-delay: 1s;
    }
}

.todoList {
    visibility: hidden;
    opacity: 0;
    list-style: none;
    padding-left: 0;
    margin-top: 30px;
    transition: all 0.8s;

    li {
        position: relative;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 50px;
        background-color: #fff;
        border-radius: 10px;
        span{
            display: block;
            font-size: 2rem;
            font-family: 'Pangolin', sans-serif;
            word-wrap: break-word;
            
        }

        &:last-child {
            margin-bottom: 0;
        }

        button {
            border: none;
            width: 28px;
            height: 28px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            padding: 0;
            padding-inline-end: initial;
            padding-inline-start: initial;
            background-color: lightsteelblue;
            border-radius: 50%;
            text-align: center;
        }
        .fa {
            display: block;
            font-size: 2rem;
            color: #fff;
            line-height: 25px;
        }

        &:hover {
            box-shadow: 0 0 5px 2px lightseagreen;
        }
        
        &.removed {
            animation: removed-item-ani 0.8s forwards;
        }
    }

    &.actived {
        visibility: visible;
        opacity: 0.9;
        transition-delay: 1s;
    }

}

@keyframes removed-item-ani {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(-100%);
        opacity: 0;
        display: none;
    }
}
.del_li_list {
    position: fixed;
    padding-left: 0;
    padding-bottom: 50px;
    top: 30px;
    right: 10px;
    width: 300px;
    min-height: 100px;
    background-color: #fff;
    border-radius: 5px;
    font-family: 'Pangolin', sans-serif;
    opacity: 0;
    display: none;
    transition: all 0.8s;
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 2rem;
        color: lightseagreen;
    }
    .removedAll-btn {
        border: none;
        padding: 0 5px 0 5px;
        position: absolute;
        left: 50%;
        bottom: 10px;
        transform: translateX(-50%);
        background-color: lightsteelblue;
        height: 36px;
        border-radius: 5px;
        font-family: 'Pangolin', sans-serif;
        color: #fff;
        cursor: pointer;
        z-index: 999;

    }
    &.actived {
        display: block;
        animation: removed-list-ani 0.8s forwards;
    }
    
}

.removed-list {
    list-style: none;
    padding: 5px;
    overflow-y: scroll;
    max-height: 60vh;

    li {
        position: relative;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 45px;
        padding-right: 50px;
        background-color: #fff;
        border-radius: 10px;

        span{
            font-size: 2rem;
            font-family: 'Pangolin', sans-serif;
            word-wrap: break-word;
        }

        &:last-child {
            margin-bottom: 0;
        }

        button {
            border: none;
            width: 28px;
            height: 28px;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            padding: 0;
            padding-inline-end: initial;
            padding-inline-start: initial;
            background-color: lightsteelblue;
            border-radius: 50%;
            text-align: center;

            &.return {
                left: 10px;
                background-color: lightsalmon;
            }
        }
        .fa {
            display: block;
            font-size: 2rem;
            color: #fff;
            line-height: 25px;
        }

        &:hover {
            box-shadow: 0 0 5px 2px lightseagreen;
        }
        
        &.removed {
            animation: removed-item-ani 0.8s forwards;
        }
    }
}

@keyframes removed-list-ani {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    60%{
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}